@import "__resetSetting";
@import "__basicMixin.scss";
@import "__basicModal.scss";

.container{
    @include container(1200px)
}

.header {
    height: 105vh;
    background: #18181B;
    background: #2C2C55;
    &__top {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: #222228CC;
        display: flex;
        align-items: center;
        padding: 12px 0;
        color: white;
    }
    &__topContent {
        @extend %flex-center;
        justify-content: space-between;
        
    }
    &__logo {
        font-size: 22px;
        line-height: 25px;
    }
    &__logoDecor{
        display: flex;
        justify-content: center;
        color: #bf00ff;
        font-weight: 500;
    }
    .form{
        width: 400px;
        display: flex;
        background: white;
        box-shadow: rgb(153, 35, 72) 0px 30px 90px;
        border-radius: 50px;
        height: 40px;
        &__btn{
            display: flex;
            align-self: center;
            padding-right: 20px;
        }
    }
    &__searchBox {
        font-size: 18px;
        color:black;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: all 500ms ease;
        padding: 0 25px;
        &::placeholder{
            color: gray;
        }
    }
    &__content{
        margin-top: 10px;
    }
    &__title{
        color: white;
        font-size: 36px;
        text-align: center;
        margin-bottom: 10px;
    }
    &__wrapper {
        @extend %fl-wr-spBetween;
        justify-content: center;
    }
    &__FactFilm {
        width: 450px;
        height: 450px;
        background: linear-gradient(109.69deg, rgba(29, 66, 162, 0.6) 12.26%, rgba(53, 72, 222, 0.6) 49.27%, rgba(0, 0, 0, 0.6) 65.36%, rgba(255, 0, 79, 0.6) 87.89%, rgba(73, 49, 71, 0.6) 115.24%);
        margin-right: 20px;
        border-radius: 20px;
        padding: 30px;
        color: white;
        text-align: center;
        &-title{
            font-size: 30px;
            margin-bottom: 30px;
        }
        &-text{
            line-height: 30px;
            font-size: 22px;
        }
        &-decor{
            font-size: 30px;
        }
    }
    &__films {
        width: 450px;
        height: 450px;
        border-radius: 20px;
        box-shadow: 1px 1px 2px 3px rgba(255, 255, 255, 0.349);
    }
}
.card{
    height: 100%;
    width: 100%;
    &__img{
        height: 60%;
        &-item{
            object-fit:fill;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
    &__title{
        text-align: center;
        color: #bf00ff;
        font-size: 28px;
        padding: 8px 0;
    }
    .card__inner{
        padding: 10px 20px;
    }
    &__text{
        color: white;
        font-size: 20px;
        padding: 5px 0;
    }
    &__decor{
        color: rgba(253, 253, 253, 0.712);
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 500;
    }
    &__wrapper{
        @extend %fl-wr-spBetween;
        justify-content: space-around;
        align-items: center;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 150px;
        padding: 8px 0px ;
        transition: all 1s ease-out 0s;
        font-size: 18px;    
        color:rgba(253, 253, 253, 0.712);
        &::after{
            content:"";
            display: flex;
            align-self: center;
            color: white;
            background: url("../img/icon/arrow.svg") no-repeat center right;
            padding: 8px;
            padding-left: 15px;
        }
    }
}
